//  FILE NAME:          _baseline.scss
//  DESCRIPTION:        Baseline styles for Site
//  SITE URL:           http://site.com
//  INCLUDED IN:		2.0 BASELINE



// forces scroll bar to avoid jumping
html { overflow-y: scroll; }

body {position: relative; color: $text; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; height: 100%;
	@include betterclearfix();
}

// apply styling to all headers
#{headers()} {}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

p {}

a {
	color: $header_blue;
	

	&:visited {}

	&:hover {}

	&:active {}

	&:focus {}
}

.hide_text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

header {}

.video_player {
	position: absolute;
	top: -400px;
	left: -400px;
}

#modal_bg {
	background-color: rgba(0,0,0,0.5);
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition-duration: 1s;
	height: 480px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 98;
	
	&.hide {
		-webkit-opacity: 0;
		-webkit-transform: translate3d(0, 480px, 0);
	}
}

#login_form {
	position: absolute;
	top: 110px;
	left: 80px;
	z-index: 99;
	background-color: #ebebeb;
	width: 160px;
	height: 117px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	
	input { background-color: #FFF; font-size: 12px; color: #666; }
	
	button {
		color: #FFF;
		background-color: #333;
		border-radius: 5px;
		padding: 5px 10px;
		position: absolute;
		right: 12px;
		bottom: 10px;
	}
}

section#main {
	@include background-image-retina('../../images/bg_ablation', 'png', 320px, 460px, true, false, true);

	> div {
		display: none;
		&.show {display: block;}
		
		h2 {
			font-weight: bold;
			font-size: 18px;
			color: $header_blue;
			margin-bottom: 5px;
			padding-left: 15px;
		}
		
		h4 {
			background-color: $lt_blue;
			color: $header_blue;
			font-size: 13px;
			font-weight: bold;
			line-height: 16px;
			padding: 10px 15px;
			margin-bottom: 15px;
		}
		
		p {
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 10px;
			padding: 0 15px;
		}
		
		ul {
			li {
				color: $yellow;
				list-style-type: disc;
				margin-left: 30px;
				margin-bottom: 5px;
				font-size: 12px;
				line-height: 16px;
				
				span {
					color: $header_blue;
					font-weight: bold;
				}
			}
			
			margin-bottom: 15px;
		}
		
	}
	
	#content_home {
		@include background-image-retina('../../images/bg_home', 'png', 320px, 460px, true, false, true);
		position: relative;
	
		img#app_brand {
			position: absolute;
			top: 241px;
			left: 148px;
			-webkit-transition-duration: 1s;
			-webkit-opacity: 1;
			max-width: 150px;
			
			&.hide {
				-webkit-opacity: 0;
			}
		}
	}
	
	#content_animation {
		video {
			width: 240px;
			height: 151px;
			position: absolute;
			top: 133px;
			left: 41px;
		}
	}
	
	#content_patients {
	
		height: 385px;
		width: 320px;
		
		.innerScroll {
			height: 395px;
			overflow-y: auto;
			overflow-x: hidden;
			padding-bottom: 10px;
			-webkit-overflow-scrolling: touch;
		}
		
		h1 {
			@include background-image-retina('../../images/header_ablation', 'png', 320px, 152px, true, false, true);
		}
		
		h3 {
			font-weight: bold;
			font-size: 13px;
			color: $header_blue;
			@include background-image-retina('../../images/bg_titlebar', 'png', 320px, 40px, false, false, true);
			height: 30px;
			padding: 10px 0 0 15px;
			margin-bottom: 10px;
		}
		
		a.video {
			font-weight: bold;
			color: $header_blue;
		}
		
	}
	
	#content_providers {
		@include background-image-retina('../../images/bg_convergent', 'png', 320px, 500px, false, false, true);
		height: 275px;
		padding-top: 140px;
		
		.innerScroll {
			margin-top: -55px;
			height: 300px;
			overflow-y: auto;
			overflow-x: hidden;
			padding-bottom: 20px;
			-webkit-overflow-scrolling: touch;
			
		}
	}
	
}

footer {
	position: fixed;
	bottom: 0;
	nav {
		ul {
			li {
				margin: 0 0 0 0;
				padding: 0;
				list-style-type: none;
				display: block;
				float: left;
				width: 80px;
				height: 75px;
				@include background-image-retina('../../images/btn_nav', 'png', 80px, 75px, true, true, true);
				
				a {
					display: block;
					margin: 0;
					padding: 0;
					width: 80px;
					height: 75px;
					background-repeat: no-repeat;
					
					&#nav_home {
						@include background-image-retina('../../images/icon_home', 'png', 71px, 52px, false, false, true);
						background-position: 6px 17px;			
					}
					
					&#nav_animation {
						@include background-image-retina('../../images/icon_animation', 'png', 71px, 52px, false, false, true);
						background-position: 4px 17px;			
					}
					
					&#nav_patients {
						@include background-image-retina('../../images/icon_patient', 'png', 71px, 52px, false, false, true);
						background-position: 4px 17px;			
					}
					
					&#nav_providers {
						@include background-image-retina('../../images/icon_providers', 'png', 71px, 52px, false, false, true);
						background-position: 6px 12px;			
					}
					
				}
			}
		}
	}
	
}
