//  FILE NAME:			_fonts.scss
//  DESCRIPTION:		Fonts for Site
//  SITE URL:			http://site.com
//  INCLUDED IN:		1.0 BASIC IMPORTS


// Name of font
@include font-face("Name of font", font-files("font-file.woff", "font-file.eot", "font-file.ttf"));

// Name of font
@include font-face("Name of font", font-files("font-file.woff", "font-file.eot", "font-file.ttf"));

// Name of font
@include font-face("Name of font", font-files("font-file.woff", "font-file.eot", "hfont-file.ttf"));

// Name of font
@include font-face("Name of font", font-files("font-file.woff", "font-file.eot", "font-file.ttf"));


// vars to use for font-family
$light: 	"Font name";
$roman: 	"Font name";
$medium:	"Font name";
$heavy: 	"Font name";