@media only screen and (device-width: 768px) and (device-height: 1024px) {
	
	#modal_bg {
		height: 1024px;
		background-color: rgba(0,0,0,0.8);
	
		#login_form {
			top: 360px;
			left: 50%;
			margin-left: -80px;
		}
	}
	
	
	
	section#main {
		width: 768px;
		height: 1024px;
		
		@include background-image-retina('../../images/ipad/bg-blnk', 'png', 768px, 1024px, true, false, true);	
		
		#content_home {
			@include background-image-retina('../../images/ipad/bg-home', 'png', 768px, 1024px, true, false, true);		
		
			img#app_brand { max-width: 300px; top: 700px; left: 360px; }
		}
		
		#content_animation {
			video {
				width: 685px;
				height: 514px;
				top: 200px;
			}
		}
		
		#content_patients {
			width: 768px;
			height: 1024px;
			
			.innerScroll {
				height: 903px;
				
				h1 { 
					width: 768px;
					height: 320px;
					-webkit-background-size: 100% 100%;
				}
				
				h2 { font-size: 28px;}
				
				h3 { 
					@include background-image-retina('../../images/ipad/grn-bar', 'png', 778px, 84px, false, false, false);
					background-repeat: repeat-x;
				}
				
			}
		}
		
		#content_providers {
			@include background-image-retina('../../images/ipad/bg-procedure', 'png', 768px, 1024px, true, false, true);
		
			.innerScroll {
				margin-top: 0px;
				height: 755px;
			
				img {width: 660px;}
			}
		}
		
		> div {
			p { font-size: 16px; line-height: 24px; }
		}
	}
	
	footer {
		@include background-image-retina('../../images/ipad/btn-bar-tile', 'png', 26px, 108px, false, false, false);
		background-repeat: repeat-x;
		width: 100%;
		border-top: 1px solid #333;
		
		nav {
			width: 470px;
			margin-left: -234px;
			height: 108px;
			left: 50%;
			position: relative;
			
			
			ul {
				li {
					width: 113px;
					height: 108px;
					@include background-image-retina('../../images/ipad/btn-bar-tile', 'png', 115px, 108px, true, true, true);
					border-width: 0 1px;
					border-color: #333;
					border-style: solid;
					
					&:first-child {border-left: 2px solid #333;}
					&:last-child {border-right: 2px solid #333;}
					
					&.divider {
						width: 6px;
						height: 108px;
						@include background-image-retina('../../images/ipad/btn-div', 'png', 115px, 108px, false, true, false);
					}
										
					a {
						width: 113px;
						height: 108px;
						
						&#nav_home {
							@include background-image-retina('../../images/ipad/btn-home', 'png', 115px, 108px, false, false, true);
							background-position: 0 0;
						}
						
						&#nav_animation {
							@include background-image-retina('../../images/ipad/btn-animation', 'png', 115px, 108px, false, false, true);
							background-position: 0 0;			
						}
						
						&#nav_patients {
							@include background-image-retina('../../images/ipad/btn-patient', 'png', 115px, 108px, false, false, true);
							background-position: 0 0;			
						}
						
						&#nav_providers {
							@include background-image-retina('../../images/ipad/btn-providers', 'png', 115px, 108px, false, false, true);
							background-position: 0 0;			
						}
						
					}
				}
			}
		}
		
	}

	
}