//  FILE NAME:          _colors.scss
//  DESCRIPTION:        Colors for Site
//  SITE URL:           http://site.com
//  INCLUDED IN:		1.0 BASIC IMPORTS

// put all your color variables here
$yellow: #d8ad02;
$lightgray: #666;
$text: #5d5d5d;
$white: #fff;

$header_blue: #003056;
$lt_blue: #91cbbd;
$darkgray: #5d5d5d;