/* line 17, ../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/_baseline.scss */
html {
  overflow-y: scroll;
}

/* line 11, ../sass/_baseline.scss */
body {
  position: relative;
  color: #5d5d5d;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  *zoom: 1;
}
/* line 85, ../sass/_utilities.scss */
body:before {
  content: "";
  display: table;
}
/* line 90, ../sass/_utilities.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}

/* line 30, ../sass/_baseline.scss */
a {
  color: #003056;
}

/* line 43, ../sass/_baseline.scss */
.hide_text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 51, ../sass/_baseline.scss */
.video_player {
  position: absolute;
  top: -400px;
  left: -400px;
}

/* line 57, ../sass/_baseline.scss */
#modal_bg {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 1s;
  height: 480px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
}
/* line 68, ../sass/_baseline.scss */
#modal_bg.hide {
  -webkit-opacity: 0;
  -webkit-transform: translate3d(0, 480px, 0);
}

/* line 74, ../sass/_baseline.scss */
#login_form {
  position: absolute;
  top: 110px;
  left: 80px;
  z-index: 99;
  background-color: #ebebeb;
  width: 160px;
  height: 117px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
/* line 88, ../sass/_baseline.scss */
#login_form input {
  background-color: #FFF;
  font-size: 12px;
  color: #666;
}
/* line 90, ../sass/_baseline.scss */
#login_form button {
  color: #FFF;
  background-color: #333;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  right: 12px;
  bottom: 10px;
}

/* line 101, ../sass/_baseline.scss */
section#main {
  background-image: url("../../images/bg_ablation.png");
  width: 320px;
  height: 460px;
  -webkit-background-size: 320px 460px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  section#main {
    background-image: url("../../images/bg_ablation@2x.png");
    -webkit-background-size: 320px 460px;
  }
}
/* line 104, ../sass/_baseline.scss */
section#main > div {
  display: none;
}
/* line 106, ../sass/_baseline.scss */
section#main > div.show {
  display: block;
}
/* line 108, ../sass/_baseline.scss */
section#main > div h2 {
  font-weight: bold;
  font-size: 18px;
  color: #003056;
  margin-bottom: 5px;
  padding-left: 15px;
}
/* line 116, ../sass/_baseline.scss */
section#main > div h4 {
  background-color: #91cbbd;
  color: #003056;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  padding: 10px 15px;
  margin-bottom: 15px;
}
/* line 126, ../sass/_baseline.scss */
section#main > div p {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
  padding: 0 15px;
}
/* line 133, ../sass/_baseline.scss */
section#main > div ul {
  margin-bottom: 15px;
}
/* line 134, ../sass/_baseline.scss */
section#main > div ul li {
  color: #d8ad02;
  list-style-type: disc;
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
}
/* line 142, ../sass/_baseline.scss */
section#main > div ul li span {
  color: #003056;
  font-weight: bold;
}
/* line 153, ../sass/_baseline.scss */
section#main #content_home {
  background-image: url("../../images/bg_home.png");
  width: 320px;
  height: 460px;
  -webkit-background-size: 320px 460px;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  section#main #content_home {
    background-image: url("../../images/bg_home@2x.png");
    -webkit-background-size: 320px 460px;
  }
}
/* line 157, ../sass/_baseline.scss */
section#main #content_home img#app_brand {
  position: absolute;
  top: 241px;
  left: 148px;
  -webkit-transition-duration: 1s;
  -webkit-opacity: 1;
  max-width: 150px;
}
/* line 165, ../sass/_baseline.scss */
section#main #content_home img#app_brand.hide {
  -webkit-opacity: 0;
}
/* line 172, ../sass/_baseline.scss */
section#main #content_animation video {
  width: 240px;
  height: 151px;
  position: absolute;
  top: 133px;
  left: 41px;
}
/* line 181, ../sass/_baseline.scss */
section#main #content_patients {
  height: 385px;
  width: 320px;
}
/* line 186, ../sass/_baseline.scss */
section#main #content_patients .innerScroll {
  height: 395px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;
}
/* line 194, ../sass/_baseline.scss */
section#main #content_patients h1 {
  background-image: url("../../images/header_ablation.png");
  width: 320px;
  height: 152px;
  -webkit-background-size: 320px 152px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  section#main #content_patients h1 {
    background-image: url("../../images/header_ablation@2x.png");
    -webkit-background-size: 320px 152px;
  }
}
/* line 198, ../sass/_baseline.scss */
section#main #content_patients h3 {
  font-weight: bold;
  font-size: 13px;
  color: #003056;
  background-image: url("../../images/bg_titlebar.png");
  -webkit-background-size: 320px 40px;
  height: 30px;
  padding: 10px 0 0 15px;
  margin-bottom: 10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  section#main #content_patients h3 {
    background-image: url("../../images/bg_titlebar@2x.png");
    -webkit-background-size: 320px 40px;
  }
}
/* line 208, ../sass/_baseline.scss */
section#main #content_patients a.video {
  font-weight: bold;
  color: #003056;
}
/* line 215, ../sass/_baseline.scss */
section#main #content_providers {
  background-image: url("../../images/bg_convergent.png");
  -webkit-background-size: 320px 500px;
  height: 275px;
  padding-top: 140px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  section#main #content_providers {
    background-image: url("../../images/bg_convergent@2x.png");
    -webkit-background-size: 320px 500px;
  }
}
/* line 220, ../sass/_baseline.scss */
section#main #content_providers .innerScroll {
  margin-top: -55px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20px;
  -webkit-overflow-scrolling: touch;
}

/* line 233, ../sass/_baseline.scss */
footer {
  position: fixed;
  bottom: 0;
}
/* line 238, ../sass/_baseline.scss */
footer nav ul li {
  margin: 0 0 0 0;
  padding: 0;
  list-style-type: none;
  display: block;
  float: left;
  width: 80px;
  height: 75px;
  background-image: url("../../images/btn_nav.png");
  width: 80px;
  height: 75px;
  -webkit-background-size: 80px 75px;
}
/* line 19, ../sass/_utilities.scss */
footer nav ul li:active, footer nav ul li:hover, footer nav ul li.active {
  background-image: url("../../images/btn_nav_down.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li {
    background-image: url("../../images/btn_nav@2x.png");
    -webkit-background-size: 80px 75px;
  }
  /* line 30, ../sass/_utilities.scss */
  footer nav ul li:active, footer nav ul li:hover, footer nav ul li.active {
    background-image: url("../../images/btn_nav_down.png");
  }
}
/* line 248, ../sass/_baseline.scss */
footer nav ul li a {
  display: block;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 75px;
  background-repeat: no-repeat;
}
/* line 256, ../sass/_baseline.scss */
footer nav ul li a#nav_home {
  background-image: url("../../images/icon_home.png");
  -webkit-background-size: 71px 52px;
  background-position: 6px 17px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li a#nav_home {
    background-image: url("../../images/icon_home@2x.png");
    -webkit-background-size: 71px 52px;
  }
}
/* line 261, ../sass/_baseline.scss */
footer nav ul li a#nav_animation {
  background-image: url("../../images/icon_animation.png");
  -webkit-background-size: 71px 52px;
  background-position: 4px 17px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li a#nav_animation {
    background-image: url("../../images/icon_animation@2x.png");
    -webkit-background-size: 71px 52px;
  }
}
/* line 266, ../sass/_baseline.scss */
footer nav ul li a#nav_patients {
  background-image: url("../../images/icon_patient.png");
  -webkit-background-size: 71px 52px;
  background-position: 4px 17px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li a#nav_patients {
    background-image: url("../../images/icon_patient@2x.png");
    -webkit-background-size: 71px 52px;
  }
}
/* line 271, ../sass/_baseline.scss */
footer nav ul li a#nav_providers {
  background-image: url("../../images/icon_providers.png");
  -webkit-background-size: 71px 52px;
  background-position: 6px 12px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li a#nav_providers {
    background-image: url("../../images/icon_providers@2x.png");
    -webkit-background-size: 71px 52px;
  }
}

@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  /* line 3, ../sass/iphone5.scss */
  #modal_bg {
    height: 568px;
  }
  /* line 6, ../sass/iphone5.scss */
  #modal_bg.hide {
    -webkit-transform: translate3d(0, 568px, 0);
  }
  /* line 10, ../sass/iphone5.scss */
  #modal_bg #login_form {
    top: 200px;
  }

  /* line 15, ../sass/iphone5.scss */
  section#main {
    height: 493px;
    -webkit-background-size: 320px 500px;
  }
  /* line 19, ../sass/iphone5.scss */
  section#main #content_home {
    background-image: url("../../images/bg_home_ip5.png");
    width: 320px;
    height: 568px;
    -webkit-background-size: 320px 568px;
  }
  /* line 22, ../sass/iphone5.scss */
  section#main #content_home img#app_brand {
    top: 370px;
  }
  /* line 28, ../sass/iphone5.scss */
  section#main #content_providers {
    height: 353px;
    background-repeat: no-repeat;
  }
  /* line 32, ../sass/iphone5.scss */
  section#main #content_providers .innerScroll {
    height: 388px;
    margin-top: -55px;
  }
  /* line 38, ../sass/iphone5.scss */
  section#main #content_patients {
    height: 493px;
  }
  /* line 40, ../sass/iphone5.scss */
  section#main #content_patients .innerScroll {
    height: 483px;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  section#main #content_home {
    background-image: url("../../images/bg_home_ip5@2x.png");
    -webkit-background-size: 320px 568px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) {
  /* line 3, ../sass/_ipad.scss */
  #modal_bg {
    height: 1024px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* line 7, ../sass/_ipad.scss */
  #modal_bg #login_form {
    top: 360px;
    left: 50%;
    margin-left: -80px;
  }

  /* line 16, ../sass/_ipad.scss */
  section#main {
    width: 768px;
    height: 1024px;
    background-image: url("../../images/ipad/bg-blnk.png");
    width: 768px;
    height: 1024px;
    -webkit-background-size: 768px 1024px;
  }
  /* line 22, ../sass/_ipad.scss */
  section#main #content_home {
    background-image: url("../../images/ipad/bg-home.png");
    width: 768px;
    height: 1024px;
    -webkit-background-size: 768px 1024px;
  }
  /* line 25, ../sass/_ipad.scss */
  section#main #content_home img#app_brand {
    max-width: 300px;
    top: 700px;
    left: 360px;
  }
  /* line 29, ../sass/_ipad.scss */
  section#main #content_animation video {
    width: 685px;
    height: 514px;
    top: 200px;
  }
  /* line 36, ../sass/_ipad.scss */
  section#main #content_patients {
    width: 768px;
    height: 1024px;
  }
  /* line 40, ../sass/_ipad.scss */
  section#main #content_patients .innerScroll {
    height: 903px;
  }
  /* line 43, ../sass/_ipad.scss */
  section#main #content_patients .innerScroll h1 {
    width: 768px;
    height: 320px;
    -webkit-background-size: 100% 100%;
  }
  /* line 49, ../sass/_ipad.scss */
  section#main #content_patients .innerScroll h2 {
    font-size: 28px;
  }
  /* line 51, ../sass/_ipad.scss */
  section#main #content_patients .innerScroll h3 {
    background-image: url("../../images/ipad/grn-bar.png");
    background-repeat: repeat-x;
  }
  /* line 59, ../sass/_ipad.scss */
  section#main #content_providers {
    background-image: url("../../images/ipad/bg-procedure.png");
    width: 768px;
    height: 1024px;
    -webkit-background-size: 768px 1024px;
  }
  /* line 62, ../sass/_ipad.scss */
  section#main #content_providers .innerScroll {
    margin-top: 0px;
    height: 755px;
  }
  /* line 66, ../sass/_ipad.scss */
  section#main #content_providers .innerScroll img {
    width: 660px;
  }
  /* line 71, ../sass/_ipad.scss */
  section#main > div p {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 75, ../sass/_ipad.scss */
  footer {
    background-image: url("../../images/ipad/btn-bar-tile.png");
    background-repeat: repeat-x;
    width: 100%;
    border-top: 1px solid #333;
  }
  /* line 81, ../sass/_ipad.scss */
  footer nav {
    width: 470px;
    margin-left: -234px;
    height: 108px;
    left: 50%;
    position: relative;
  }
  /* line 90, ../sass/_ipad.scss */
  footer nav ul li {
    width: 113px;
    height: 108px;
    background-image: url("../../images/ipad/btn-bar-tile.png");
    width: 115px;
    height: 108px;
    -webkit-background-size: 115px 108px;
    border-width: 0 1px;
    border-color: #333;
    border-style: solid;
  }
  /* line 19, ../sass/_utilities.scss */
  footer nav ul li:active, footer nav ul li:hover, footer nav ul li.active {
    background-image: url("../../images/ipad/btn-bar-tile_down.png");
  }
  /* line 98, ../sass/_ipad.scss */
  footer nav ul li:first-child {
    border-left: 2px solid #333;
  }
  /* line 99, ../sass/_ipad.scss */
  footer nav ul li:last-child {
    border-right: 2px solid #333;
  }
  /* line 101, ../sass/_ipad.scss */
  footer nav ul li.divider {
    width: 6px;
    height: 108px;
    background-image: url("../../images/ipad/btn-div.png");
  }
  /* line 19, ../sass/_utilities.scss */
  footer nav ul li.divider:active, footer nav ul li.divider:hover, footer nav ul li.divider.active {
    background-image: url("../../images/ipad/btn-div_down.png");
  }
  /* line 107, ../sass/_ipad.scss */
  footer nav ul li a {
    width: 113px;
    height: 108px;
  }
  /* line 111, ../sass/_ipad.scss */
  footer nav ul li a#nav_home {
    background-image: url("../../images/ipad/btn-home.png");
    -webkit-background-size: 115px 108px;
    background-position: 0 0;
  }
  /* line 116, ../sass/_ipad.scss */
  footer nav ul li a#nav_animation {
    background-image: url("../../images/ipad/btn-animation.png");
    -webkit-background-size: 115px 108px;
    background-position: 0 0;
  }
  /* line 121, ../sass/_ipad.scss */
  footer nav ul li a#nav_patients {
    background-image: url("../../images/ipad/btn-patient.png");
    -webkit-background-size: 115px 108px;
    background-position: 0 0;
  }
  /* line 126, ../sass/_ipad.scss */
  footer nav ul li a#nav_providers {
    background-image: url("../../images/ipad/btn-providers.png");
    -webkit-background-size: 115px 108px;
    background-position: 0 0;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  section#main {
    background-image: url("../../images/ipad/bg-blnk@2x.png");
    -webkit-background-size: 768px 1024px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  section#main #content_home {
    background-image: url("../../images/ipad/bg-home@2x.png");
    -webkit-background-size: 768px 1024px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  section#main #content_patients .innerScroll h3 {
    background-image: url("../../images/ipad/grn-bar@2x.png");
    -webkit-background-size: 778px 84px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  section#main #content_providers {
    background-image: url("../../images/ipad/bg-procedure@2x.png");
    -webkit-background-size: 768px 1024px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer {
    background-image: url("../../images/ipad/btn-bar-tile@2x.png");
    -webkit-background-size: 26px 108px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li {
    background-image: url("../../images/ipad/btn-bar-tile@2x.png");
    -webkit-background-size: 115px 108px;
  }
  /* line 30, ../sass/_utilities.scss */
  footer nav ul li:active, footer nav ul li:hover, footer nav ul li.active {
    background-image: url("../../images/ipad/btn-bar-tile_down.png");
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li.divider {
    background-image: url("../../images/ipad/btn-div@2x.png");
    -webkit-background-size: 115px 108px;
  }
  /* line 30, ../sass/_utilities.scss */
  footer nav ul li.divider:active, footer nav ul li.divider:hover, footer nav ul li.divider.active {
    background-image: url("../../images/ipad/btn-div_down.png");
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li a#nav_home {
    background-image: url("../../images/ipad/btn-home@2x.png");
    -webkit-background-size: 115px 108px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li a#nav_animation {
    background-image: url("../../images/ipad/btn-animation@2x.png");
    -webkit-background-size: 115px 108px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li a#nav_patients {
    background-image: url("../../images/ipad/btn-patient@2x.png");
    -webkit-background-size: 115px 108px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (device-width: 768px) and (device-height: 1024px) and (-moz-min-device-pixel-ratio: 2) {
  /* line 25, ../sass/_utilities.scss */
  footer nav ul li a#nav_providers {
    background-image: url("../../images/ipad/btn-providers@2x.png");
    -webkit-background-size: 115px 108px;
  }
}
