//  FILE NAME:          _baseline.scss
//  DESCRIPTION:        Baseline styles for Site
//  SITE URL:           http://site.com
//  INCLUDED IN:		2.0 BASELINE



// forces scroll bar to avoid jumping
html { overflow-y: scroll; }

body {position: relative; color: $text; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; display: block;
	@include betterclearfix();
}

// apply styling to all headers
#{headers()} {}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

p {}

a {
	color: $header_blue;
	

	&:visited {}

	&:hover {}

	&:active {}

	&:focus {}
}

.hide_text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

header {}

.video_player {
	position: absolute;
	top: -600px;
	left: -600px;
}

#modal_bg {
	background-color: rgba(0,0,0,0.5);
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition-duration: 1s;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 98;
	
	&.hide {
		-webkit-opacity: 0;
		-webkit-transform: translate3d(0, 480px, 0);
	}
}

#login_form {
	position: absolute;
	z-index: 99;
	background-color: #ebebeb;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin-bottom: 30px;
	
	input { background-color: #FFF; color: #666; }
	
	button {
		color: #FFF;
		background-color: #333;
		border-radius: 5px;
		padding: 5px 10px;
		position: absolute;
		right: 12px;
		bottom: 10px;
	}
}

section#main {

	> div {
		display: none;
		&.show {display: block;}
		
		h2 {
			font-weight: bold;
			font-size: 24px;
			color: $header_blue;
			margin-bottom: 5px;
			padding-left: 15px;
		}
		
		h4 {
			background-color: $lt_blue;
			color: $header_blue;
			font-size: 20px;
			font-weight: bold;
			line-height: 24px;
			padding: 10px 15px;
			margin-bottom: 15px;
		}
		
		p {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 10px;
			padding: 0 15px;
		}
		
		ul {
			li {
				color: $yellow;
				list-style-type: disc;
				margin-left: 30px;
				margin-bottom: 5px;
				font-size: 18px;
				line-height: 24px;
				
				span {
					color: $header_blue;
					font-weight: bold;
				}
			}
			
			margin-bottom: 15px;
		}
		
	}
	
	#content_home {
		position: relative;
	
		img#app_brand {
			position: absolute;
			-webkit-transition-duration: 1s;
			-webkit-opacity: 1;
			
			&.hide {
				-webkit-opacity: 0;
			}
		}
	}
	
	
	#content_patients {
		
		.innerScroll {
			height: auto;
			overflow-y: auto;
			overflow-x: hidden;
			background-repeat: no-repeat;
			-webkit-overflow-scrolling: touch;
		}
		
		
		
		h3 {
			font-weight: bold;
			font-size: 22px;
			color: $header_blue;
			height: 30px;
			padding: 10px 0 0 15px;
			margin-bottom: 10px;
		}
		
		a.video {
			font-weight: bold;
			color: $header_blue;
		}
		
	}
	
	#content_providers {
		
		background-repeat: no-repeat;
		background-color: #4f789a;
		
		.innerScroll {
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			
			      a {
			        //display: block;
			      } 
		}
	}
	
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	nav {
		ul {
			li {
				margin: 0 0 0 0;
				padding: 0;
				list-style-type: none;
				display: block;
				float: left;
				background-repeat: repeat-x;
				
				a {
					display: block;
					margin: 0;
					padding: 0;
					background-repeat: no-repeat;
					
					
					
				}
			}
		}
	}
	
}
