body {
  height: 1280px; 
  width: 800px;
}

#modal_bg {
  height: 1280px;
  width: 100%;
}

#login_form {
  top: 220px;
  left: 160px;
  width: 480px;
  height: 351px;
  font-size: 24px;
  line-height: 75px;
  
  input {
    font-size: 24px;
  }
}

#content_animation {
    video {
      width: 600px;
      height: 376px;
      position: absolute;
      top: 335px;
      left: 100px;
    }
}

section#main {
  @include background-image-retina('../../images/tablet/bg_ablation', 'png', 800px, 1280px, true, false, true);
}

#content_home {
    @include background-image-retina('../../images/tablet/bg_home', 'png', 800px, 1280px, true, false, true);
    
    img#app_brand {
      top: 530px;
      left: 330px;
      width: 350px;
    }
}

#content_patients {
  
  height: 385px;
  width: 800px;
  
  .innerScroll {
    padding-bottom: 185px;  
  }
  
  h1 {
      @include background-image-retina('../../images/tablet/header_ablation', 'png', 800px, 461px, true, false, true);
      height: 459px;
  }
  
  h3 {
      @include background-image-retina('../../images/tablet/bg_titlebar', 'png', 800px, 40px, false, false, true);
  }
}

#content_providers {
    padding-top: 180px;
    @include background-image-retina('../../images/tablet/bg_convergent', 'png', 800px, 1280px, true, false, true);
        
    .innerScroll {
      a {
        width: 600px;
        height: 820px;
        
        img {
          margin-left: 100px;  
        }
      }
      
      .provider_hero {
        width: 600px;
      }
    }
}

footer {
  nav {
    ul {
      width: 800px;
      height: 188px;
      
      li {
        width: 200px;
        height: 188px;
        
        @include background-image-retina('../../images/tablet/btn_nav', 'png', 200px, 200px, true, true, true);
        a {
         width: 200px;
         height: 188px;
          
         &#nav_home {
            @include background-image-retina('../../images/tablet/icon_home', 'png', 200px, 188px, false, false, true);
            //background-position: 6px 17px;      
          }
          
          &#nav_animation {
            @include background-image-retina('../../images/tablet/icon_animation', 'png', 200px, 188px, false, false, true);
            //background-position: 4px 17px;      
          }
          
          &#nav_patients {
            @include background-image-retina('../../images/tablet/icon_patient', 'png', 200px, 188px, false, false, true);
            //background-position: 4px 17px;      
          }
          
          &#nav_providers {
            @include background-image-retina('../../images/tablet/icon_providers', 'png', 200px, 188px, false, false, true);
            //background-position: 6px 12px;      
          }
        }
      }
    }
  }
}
