//  FILE NAME:          _utilities.scss
//  DESCRIPTION:        Utility mixins to be used with @include for Site
//  SITE URL:           http://site.com
//  INCLUDED IN:        1.0 BASIC IMPORTS

@mixin background-image-retina($file, $type, $width, $height, $setWrapperSize, $down, $setBgSize) {
  background-image: url($file + '.' + $type);

  @if $setWrapperSize == true {
  	width: $width;
  	height: $height;
  }
  
  @if $setBgSize == true {
	  -webkit-background-size: $width $height;
  }
  
  @if $down == true {
  	&:active, &:hover, &.active {
  		background-image: url($file + '_down.' + $type);
  	}
  }
  
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      //background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      
      @if $down == true {
		&:active, &:hover, &.active {
			background-image: url($file + '_down.' + $type);
	  	}
	  }
    }
  }
}

@mixin ir() {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0;
	br {
		display: none; 
	} 
}

@mixin hidden() {
	display: none !important;
	visibility: hidden; 
}

@mixin visuallyhidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	
	&.focusable {
		
		&:active, &:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto; 
		} 

	} 
}

@mixin invisible(){ visibility: hidden; }

@mixin betterclearfix() {
	&:before {
		content: "";
		display: table;
	}

	&:after {
		content: "";
		display: table;
		clear: both; 
	}

	*zoom: 1; 
}